
p{
  margin: 0 20px;
}

#shop{
  color: white;
  font-size: 16px;
  cursor: pointer;
}
#shop a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.langClass{
  display: flex;
}
.langClass  img{
  width: 30px !important;
  margin: 5px;
  cursor: pointer;

}


.regbtn {
  width: 100px;
  height: 40px;

  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  border: 1px solid #b0b0b8;
  background-color:#212529;
  color: rgb(255, 255, 255);
  transition: 1s;
  margin: 2px;
}
.regbtn:hover {
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}


@media screen and (max-width:990px) {
  .myclassname{
    flex-direction: column !important;
  }
}